<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Gestionar provas </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h1> Llista de proves </h1>
<table>
    <thead>
    <tr>
        <th scope="col"> Nom</th>
        <th scope="col"> Descripcio</th>
        <th scope="col"> Tipus</th>
        <th scope="col"> Data</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="proves" type="String"*/-->
    <!--/*@thymesVar id="prova" type="String"*/-->
    <tr th:each="prova: ${proves}">
        <!--/*@thymesVar id="nom" type="String"*/-->
        <td th:text="${prova.nom}"></td>
        <!--/*@thymesVar id="descripcio" type=""*/-->
        <td th:text="${prova.descripcio}"></td>
        <!--/*@thymesVar id="tipus" type=""*/-->
        <td th:text="${prova.tipus}"></td>
        <!--/*@thymesVar id="data" type=""*/-->
        <td th:text="${prova.data}"></td>
        <td><a th:href="@{/prova/update/{nom}(nom=${prova.nom})}"> Edita </a>
        </td>
        <td><a th:href="@{/prova/delete/{nom}(nom=${prova.nom})}"> Esborra </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix prova </a>
</body>
</html>