<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Añadir petición</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <h2>Nueva petición</h2>
        <form class="form-horizontal" action="#" th:action="@{/request/add}" th:object="${request}" method="post">

            <label class="control-label">Seleccione un servicio:</label>
            <select id="contractId" th:field="*{contractId}">
                <option th:each="contrato: ${listContracts}" th:value="${contrato.numContract}">
                    <p th:if="${contrato.catering==true }">Comidas</p>
                    <p th:if="${contrato.nursing==true}">Enfermería</p>
                    <p th:if="${contrato.cleaning==true}">Limpieza</p>
                </option>
            </select>

<!--            <div class="form-group row">-->
<!--                <label for="time">Hora de servicio:</label>-->
<!--                <input type="time" class="form-control" id="time" th:field="*{time}" />-->
<!--            </div>-->

            <div class="form-group row">
                <label class="control-label col-sm-2" for="description">Detalles extra:</label>
                <div>
                    <input type="text" class="form-control" id="description" th:field="*{description}"/>
                </div>
            </div>

            <!-- BOTON ANADIR -->
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary"> Añadir</button>
                </div>
            </div>
            FALTA SACAR EL ID DEL MAYOR QUE HAGA LA PETICION
        </form>
        <a href="/"> Atrás </a>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>