<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Gestionar Peticiones </title>
    <meta charset="UTF-8"/>
    <link rel ="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1> Lista de Peticiones </h1>
<table>
<!--    <thead>-->
<!--    <tr>-->
<!--        <th> Num.Federat</th>-->
<!--        <th> Nom</th>-->
<!--        <th> Pais</th>-->
<!--        <th> Edat</th>-->
<!--        <th>Gènere</th>-->
<!--        <th></th>-->
<!--        <th></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    &lt;!&ndash;/*@thymesVar id="nadadors" type="String"*/&ndash;&gt;-->
<!--    &lt;!&ndash;/*@thymesVar id="nadador" type="String"*/&ndash;&gt;-->
<!--    <tr th:each="nadador: ${nadadors}">-->
<!--        &lt;!&ndash;/*@thymesVar id="numFederat" type="String"*/&ndash;&gt;-->
<!--        <td th:text="${nadador.numFederat}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="nom" type="String"*/&ndash;&gt;-->
<!--        <td th:text="${nadador.nom}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="pais" type=""*/&ndash;&gt;-->
<!--        <td th:text="${nadador.pais}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="edat" type=""*/&ndash;&gt;-->
<!--        <td th:text="${nadador.edat}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="genere" type=""*/&ndash;&gt;-->
<!--        <td th:text="${nadador.genere}"></td>-->
<!--        <td><a th:href="@{/nadador/update/{nom}(nom=${nadador.nom})}"> Edita </a>-->
<!--        </td>-->
<!--        <td><a th:href="@{/nadador/delete/{nom}(nom=${nadador.nom})}"> Esborra </a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>
<a href="add">Añadir Petición </a>
</body>
</html>