# Default ignored files
/.idea/workspace.xml
.idea
*.iws
*.iml
*.ipr
*.xml
*/_windows/
/_windows/laf.xml
/_windows/path.macros.xml
/codestyles/
/codestyles/Default.xml
debugger.xml
diff.xml
editor.codeinsight.xml
filetypes.xml
find.xml
./.idea/misc.xml