<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
    <div th:replace="fragments/elderly :: elderly-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <div class="return alignRight">
            <a href="/index">
                <svg class="icon-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/>
                </svg>
                Volver</a>
        </div>
        <h2>Listado de voluntarios disponibles</h2>
        <br>
        <table class="tableAddVolunteerAva" th:object="${session}"
               th:classappend="*{volunteersAvailable.size() == 0} ? 'emptyTable' : 'table table-bordered'">
            <thead th:if="*{volunteersAvailable.size() > 0}">
            <tr>
                <th>Ocio</th>
                <th>Voluntario</th>
                <th>Disponibilidad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="volunteerAvailable: *{volunteersAvailable}">
                <td th:text="${#strings.capitalize(volunteerAvailable.hobby)}"></td>
                <td th:text="${session.eldelyService.getNameVolunteer(volunteerAvailable.idVolunteer)}"></td>
                <td>
                    <span th:classappend="${volunteerAvailable.monday == true ? 'dayActive'  : 'dayInactive'}">L</span>
                    <span th:classappend="${volunteerAvailable.tuesday == true ? 'dayActive'  : 'dayInactive'}">M</span>
                    <span th:classappend="${volunteerAvailable.wednesday == true ? 'dayActive'  : 'dayInactive'}">X</span>
                    <span th:classappend="${volunteerAvailable.thursday == true ? 'dayActive'  : 'dayInactive'}">J</span>
                    <span th:classappend="${volunteerAvailable.friday == true ? 'dayActive'  : 'dayInactive'}">V</span>
                    <span th:classappend="${volunteerAvailable.saturday == true ? 'dayActive'  : 'dayInactive'}">S</span>
                    <span th:classappend="${volunteerAvailable.sunday == true ? 'dayActive'  : 'dayInactive'}">D</span>
                    <span th:text="${'de ' + volunteerAvailable.startTime + ' a ' + volunteerAvailable.endTime}"></span>
                </td>
                <td>
                    <div class="buttonService">
                        <a th:href="@{/volunteerAvailability/addElderly/{id}(id = ${volunteerAvailable.id})}" class="btn">Solicitar</a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tr th:unless="*{volunteersAvailable.size() > 0}">
                <td> No hay ningún voluntario disponible en estos momentos</td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>