<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
    <div th:if="${session.role == 'Elderly'}">
        <div th:replace="fragments/elderly :: elderly-css"/>
    </div>
    <div th:if="${session.role == 'Volunteer'}">
        <div th:replace="fragments/volunteer :: volunteer-css"/>
    </div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <div class="return alignRight">
            <a href="/index">
                <svg class="icon-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/>
                </svg>
                Volver</a>
        </div>
        <h2 th:text="${'Detalles de ' + session.volunteerElderly.hobby}"></h2>
        <table class="info">
            <tr>
                <td colspan="2" class="dayTop">
                    <span class="dayMargin" th:classappend="${session.volunteerElderly.monday == true ? 'dayActive'  : 'dayInactive'}">Lunes</span>
                    <span class="dayMargin" th:classappend="${session.volunteerElderly.tuesday == true ? 'dayActive'  : 'dayInactive'}">Martes</span>
                    <span class="dayMargin" th:classappend="${session.volunteerElderly.wednesday == true ? 'dayActive'  : 'dayInactive'}">Miércoles</span>
                    <span th:classappend="${session.volunteerElderly.thursday == true ? 'dayActive'  : 'dayInactive'}">Jueves</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="dayBottom">
                    <span class="dayMargin" th:classappend="${session.volunteerElderly.friday == true ? 'dayActive'  : 'dayInactive'}">Viernes</span>
                    <span class="dayMargin" th:classappend="${session.volunteerElderly.saturday == true ? 'dayActive'  : 'dayInactive'}">Sábado</span>
                    <span th:classappend="${session.volunteerElderly.sunday == true ? 'dayActive'  : 'dayInactive'}">Domingo</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="dayBottom">
                    De <span class="dayActive" th:text="${session.volunteerElderly.startTime}"></span> a
                    <span class="dayActive" th:text="${session.volunteerElderly.endTime}"></span>
                </td>
            </tr>
            <tr>
                <td th:if="${session.role == 'Elderly'}">
                    <span class="bold">Nombre del voluntario/a: </span> <span th:text="${session.nameV}"></span>
                </td>
                <td th:unless="${session.role == 'Elderly'}">
                    <span class="bold">Nombre del solicitante: </span>
                    <span th:text="${session.volunteerService.getNameElderly(session.volunteerElderly.dniEderly)}"></span>
                </td>
            </tr>
            <tr>
                <td th:if="${session.role == 'Elderly'}">
                    <span th:text="${session.phoneV}"></span>
                </td>
                <td th:unless="${session.role == 'Elderly'}">
                    <span class="bold">Teléfono de contacto: </span>
                    <span th:text="${session.volunteerService.getPhoneElderly(session.volunteerElderly.dniEderly)}"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div th:if="${session.volunteerElderly.endDate == null}">
                        <a class="btn btn-danger buttonSize"
                           th:href="@{/volunteerAvailability/cancel/{id}(id=${session.volunteerElderly.id})}">
                            Cancelar
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>