<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir persona mayor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="continer" style="padding: 10px;">
        <h2>Nuevo solicitante</h2>
        <form class="form-horizontal" action="#" th:action="@{/elderly/add}" th:object="${elderly}" method="post">
            <table>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-5" for="socialAsisNum">Número de asistente social:</label>
                            <div>
                                <input type="text" class="form-control" id="socialAsisNum" th:field="*{socialAsisNum}" size="20" maxlength="20" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="name">Nombre:</label>
                            <div>
                                <input type="text" class="form-control" id="name" th:field="*{name}" size="20" maxlength="20" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="surname">Apellidos:</label>
                            <div>
                                <input type="text" class="form-control" id="surname" th:field="*{surname}" size="20" maxlength="20" required />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="email">Email:</label>
                            <div>
                                <input type="email" class="form-control" id="email" th:field="*{email}" size="20" maxlength="50" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="dni">DNI: </label>
                            <div>
                                <input type="text" class="form-control" id="dni" th:field="*{DNI}" size="20" maxlength="20" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="birthDate">Fecha de nacimiento: </label>
                            <div>
                                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}" required />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="phoneNumber">Teléfono:</label>
                            <div>
                                <input type="tel" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="address">Dirección:</label>
                            <div>
                                <input type="text" class="form-control" id="address" th:field="*{address}" size="50" maxlength="70" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="bankAccount">Cuenata bancaria:</label>
                            <div>
                                <input type="text" class="form-control" id="bankAccount" th:field="*{bankAccount}" size="50" maxlength="50" required />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="username">Usuario:</label>
                            <div>
                                <input type="text" class="form-control" id="username" th:field="*{username}" size="20" maxlength="20" required />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="password">Contraseña:</label>
                            <div>
                                <input type="password" class="form-control" id="password" th:field="*{password}" size="20" maxlength="20" required />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary"> Añadir</button>
                </div>
            </div>
        </form>
        <a href = "/"> Atrás </a>
    </div>
</body>
</html>