<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de personas mayores</title>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/elderly.css" th:href="@{/css/elderly.css}"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Listado de personas mayores</h1>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Núm. asistente social</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Fecha de nacimiento</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Cuenta bancaria</th>
                    <th>Usuario</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="elderly: ${elderlies}">
                    <td class="border" th:text="${elderly.socialAssisId}"></td>
                    <td class="border" th:text="${elderly.DNI}"></td>
                    <td class="border" th:text="${elderly.name}"></td>
                    <td class="border" th:text="${elderly.surname}"></td>
                    <td class="border" th:text="${elderly.email}"></td>
                    <td class="border" th:text="${elderly.birthDate}"></td>
                    <td class="border" th:text="${elderly.phoneNumber}"></td>
                    <td class="border" th:text="${elderly.address}"></td>
                    <td class="border" th:text="${elderly.bankAccount}"></td>
                    <td class="border" th:text="${elderly.username}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/elderly/update/{dni}(dni=${elderly.DNI})}"> Edita </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/elderly/delete/{dni}(dni=${elderly.DNI})}"> Esborra </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href = "/"> Atrás </a>
    </div>
</body>
</html>