<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de contratos del sistema</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/-->
</head>

<body>
<h1>Lista contratos del sistema</h1>
<div th:if="${#lists.isEmpty(contracts)}">
    No hi ha usuaris
</div>
<table th:unless="${#lists.isEmpty(contracts)}"  class="table table-condensed">
    <thead>
    <tr>
        <th>Nom d'usuari</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="contract: ${contracts}">
        <td th:text="${contract.getCifCompany()}"></td>
    </tr>
    </tbody>
</table>
<a href="/" class="btn btn-primary" role="button">Tornar</a>
</body>
</html>