<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="admin-css">
        <link rel="stylesheet" th:href="@{/css/admin.css}" href="/css/admin.css">
    </div>
</head>
<body>
    <div th:fragment="admin">
        <h2>Opciones de administración</h2>
        <table class="tablaIndex">
            <tr>
                <td>
                    <br>
                    <h5>
                        <a class="btn buttonOptions" href="/contract/list">Gestión de contratos</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>
                        <a class="btn buttonOptions" href="/volunteer/list">Gestión de voluntarios</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>
                        <a class="btn buttonOptions" href="/request/list">Peticiones personas mayores</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>
                        <a class="btn buttonOptions" href="/company/list">Gestión empresas</a>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>