<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="company-css">
        <link rel="stylesheet" th:href="@{/css/company.css}" href="/css/company.css">

    </div>
    <meta charset="UTF-8">
    <title>Empresas</title>

</head>

<body>
<div th:fragment="company" th:object="${session}">
    <br>
    <div class="tabs">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Principal</label>
            <div class="content-tab">
                <h2>Peticiones</h2>
                <!-- Peticiones pendientes y peticiones aceptadas-->
                <a class="btn buttonOptions" th:href="@{/invoiceLine/add}">Crear linea de factura</a>

                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Estado</th>
                        <th>Servicio</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                        <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- No funciona :( -->
                    <tr th:each="request: *{requestCompany}">
                        <td th:text="${request.number}"></td>
                        <td th:text="${request.state}"></td>
                        <td th:text="${request.getType()}"></td>
                        <td th:text="${request.startDate}"></td>
                        <td th:text="${request.endDate}"></td>
                        <td th:text="${request.description}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Facturas</label>
            <div class="content-tab">
                <h2>Facturas</h2>
                <a class="btn buttonOptions" th:href="@{/invoice/list}">Lista de facturas</a>


            </div>
        </div>

    </div>
</div>
</body>
</html>