<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="company-css">
        <link rel="stylesheet" th:href="@{/css/company.css}" href="/css/company.css">
    </div>
</head>

<body>
<div th:fragment="company" th:object="${session}">
    <br>
    <h2>Listado de peticiones</h2>
    <br>
    <div class="tabs">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Asignadas</label>
            <div class="content-tab">
                <table class="middle" th:classappend="*{requestCompany.size() == 0} ? 'emptyTable' : 'table table-hover'">
                    <thead th:if="*{requestCompany.size() > 0}">
                    <tr>
                        <th>Solicitante</th>
                        <th>Servicio</th>
                        <th>Fecha de inicio</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Solo aparecen las peticiones aceptadas -->
                    <tr th:each="request: *{requestCompany}">
                        <td th:text="${session.volunteerService.getNameElderly(request.elderlyDNI)}"></td>
                        <td th:text="${request.getType()}"></td>
                        <td th:text="${#temporals.format(request.startDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#strings.capitalize(request.description)}"></td>
                        <td>
                            <a class="btn btn-info"
                               th:href="@{/request/info/{number}(number=${request.number})}">
                                Más detalles
                            </a>
                        </td>
                    </tr>
                    <tr th:unless="*{requestCompany.size() > 0}">
                        <td>No tiene peticiones asignadas</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Canceladas</label>
            <div class="content-tab">
                <table class="middle" th:classappend="*{requestCompanyCancel.size() == 0} ? 'emptyTable' : 'table table-hover'">
                    <thead th:if="*{requestCompanyCancel.size() > 0}">
                    <tr>
                        <th>Solicitante</th>
                        <th>Servicio</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Solo aparecen las peticiones canceladas -->
                    <tr th:each="requestCancel: *{requestCompanyCancel}">
                        <td th:text="${session.volunteerService.getNameElderly(requestCancel.elderlyDNI)}"></td>
                        <td th:text="${requestCancel.getType()}"></td>
                        <td th:text="${#strings.capitalize(requestCancel.description)}"></td>
                        <td>

                        </td>
                    </tr>
                    <tr th:unless="*{requestCompanyCancel.size() > 0}">
                        <td>No tiene peticiones canceladas</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>