<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="company-css">
        <link rel="stylesheet" th:href="@{/css/company.css}" href="/css/company.css">
    </div>
</head>

<body>
<div th:fragment="company" th:object="${session}">
    <br>
    <h2>Listado de peticiones</h2>
    <br>
    <div class="tabs">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Aceptadas</label>
            <div class="content-tab">
                <table class="middle" th:classappend="*{requestCompany.size() == 0} ? 'emptyTable' : 'table table-hover'">
                    <thead th:if="*{requestCompany.size() > 0}">
                    <tr>
                        <th>Solicitante</th>
                        <th>Servicio</th>
                        <th>Fecha de inicio</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Solo aparecen las peticiones aceptadas -->
                    <tr th:each="request: *{requestCompany}">
                        <td th:text="${session.elderlyService.getNameElderly(request.elderlyDNI)}"></td>
                        <td th:text="${request.getType()}"></td>
                        <td th:text="${request.startDate}"></td>
                        <td th:text="${#strings.capitalize(request.description)}"></td>
                        <td>

                        </td>
                    </tr>
                    <tr th:unless="*{requestCompany.size() > 0}">
                        <td>No tiene peticiones</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Canceladas</label>
            <div class="content-tab">
                <h2>Facturas</h2>
                <a class="btn buttonOptions" th:href="@{/invoice/list}">Lista de facturas</a>
                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Fecha</th>
                        <th>Precio</th>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="invoice: *{invoicesCompany}">
                        <td th:text="${invoice.invoicenum}"></td>
                        <td th:text="${invoice.date}"></td>
                        <td th:text="${invoice.price}"></td>

                        <!-- No funciona, todavia :( -->
                        <td>
                            <a class="btn btn-success" th:href="@{/pdf}" >Generar PDF
                                <!--Conseguir de alguna manera la compañia y la lista de lineas de factura-->
                                <svg class="bi bi-file-earmark-arrow-down" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                                    <path fill-rule="evenodd"
                                          d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>