<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="elderly-css">
        <link rel="stylesheet" th:href="@{/css/elderly.css}" href="/css/elderly.css">
    </div>

</head>
<body>
<div th:fragment="elderly">
    <br>
    <div class="tabs">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Servicios</label>
            <div class="content-tab">
                <div class="buttonService">
                    <a class="btn" href="request/add"> Contratar servicio</a>
                </div>
                <br>
                <br>
                <h3>Listado de servicios solicitados</h3>
                <table class="table table-hover" th:object="${session}">
                    <thead th:if="*{requests != null}">
                    <tr>
                        <th>Servicio</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request: *{requests}">
                        <td>
                            <p th:if="${request.catering==true}">Comidas</p>
                            <p th:if="${request.nursing==true}">Enfermería</p>
                            <p th:if="${request.cleaning==true}">Limpieza</p>
                        </td>
                        <td th:text="${'De L a V - ' + request.time}"></td>
                        <td th:classappend="${(request.state == 'Pendiente' ? 'stateBlue'  : '') +
                         (request.state == 'Aceptado' ? 'stateGreen'  : '') +
                        (request.state == 'Rechazado' ? 'stateRed'  : '')+
                        (request.state == 'Cancelado' ? 'stateRed'  : '')}" th:text="${request.state}"></td>
                        <td>
                            <a class="btn btn-info buttonSize"
                               th:href="@{/request/info/{number}(number=${request.number})}">
                                Más detalles
                            </a>
                        </td>
                        <td>
                            <div th:if="${request.state == 'Aceptado' || request.state == 'Pendiente'}">
                                <a class="btn btn-danger buttonSize"
                                        th:href="@{/request/cancel/{number}(number=${request.number})}">
                                    Cancelar
                                </a>
                            </div>
                            <div th:unless="${request.state == 'Aceptado' || request.state == 'Pendiente'}">
                                <a class="btn btn-danger buttonSize disabled">
                                    Cancelar
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tr th:unless="*{requests != null}">
                        <td> No tiene ningún servicio contratado</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Ocio con voluntarios</label>
            <div class="content-tab">
                <div class="buttonService">
                    <a class="btn" href="/volunteerAvailability/addElderly"> Voluntarios disponibles</a>
                </div>
                <br>
                <br>
                <h3>Ocio con voluntarios</h3>
                <table class="table table-hover" th:object="${session}">
                    <thead th:if="*{volunteers != null}">
                    <tr>
                        <th>Ocio</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="volunteer: *{volunteers}">
                        <td th:text="${#strings.capitalize(volunteer.hobby)}"></td>
                        <td>
                            <span th:classappend="${volunteer.monday == true ? 'dayActive'  : 'dayInactive'}">L</span>
                            <span th:classappend="${volunteer.tuesday == true ? 'dayActive'  : 'dayInactive'}">M</span>
                            <span th:classappend="${volunteer.wednesday == true ? 'dayActive'  : 'dayInactive'}">X</span>
                            <span th:classappend="${volunteer.thursday == true ? 'dayActive'  : 'dayInactive'}">J</span>
                            <span th:classappend="${volunteer.friday == true ? 'dayActive'  : 'dayInactive'}">V</span>
                            <span th:classappend="${volunteer.saturday == true ? 'dayActive'  : 'dayInactive'}">S</span>
                            <span th:classappend="${volunteer.sunday == true ? 'dayActive'  : 'dayInactive'}">D</span>
                        </td>
                        <td th:text="${'De ' + volunteer.startTime + ' a ' + volunteer.endTime}"></td>
                        <td>
                            <a class="btn btn-info buttonSize"
                               th:href="@{/volunteerAvailability/infoVolunteer/{idVolunteer}/{dni}(idVolunteer=${volunteer.idVolunteer}, dni=${volunteer.dniEderly})}">
                                Más detalles
                            </a>
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-danger buttonSize"
                                   th:href="@{/volunteerAvailability/cancel/{idVolunteer}/{dni}(idVolunteer=${volunteer.idVolunteer}, dni=${volunteer.dniEderly})}">
                                    Cancelar
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tr th:unless="*{volunteers != null}">
                        <td> No has solicitado a ningún voluntario</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>