<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="elderly-css">
        <link rel="stylesheet" th:href="@{/css/elderly.css}" href="/css/elderly.css">
    </div>
</head>
<body>
<div th:fragment="elderly">
    <br>
    <div class="tabs">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Servicios</label>
            <div class="content-tab">
                <div class="buttonService">
                    <a class="btn" href="request/add"> Contratar servicio</a>
                </div>
                <br>
                <br>
                <h3>Listado de servicios solicitados</h3>
                <br>
                <table class="middle" th:object="${session}"
                       th:classappend="*{requests.size() == 0} ? '' : 'table table-hover'">
                    <thead th:if="*{requests.size() > 0}">
                    <tr>
                        <th>Servicio</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request: *{requests}">
                        <td th:text="${request.getType()}"></td>
                        <td>
                            De <span class="dayActive">L</span> a <span class="dayActive">V</span>
                            - <span class="dayActive" th:text="${request.time}"></span>
                        </td>
                        <td th:if="${request.endDate == null}">
                            <span th:classappend="${(request.state == 'Pendiente' ? 'stateBlue'  : '') +
                            (request.state == 'Aceptado' ? 'stateGreen'  : '') +
                            (request.state == 'Rechazado' ? 'stateRed'  : '')+
                            (request.endDate == null ? ''  : 'stateRed')}" th:text="${request.state}">
                            </span>
                        </td>
                        <td th:unless="${request.endDate == null}">
                            <span class="stateCancel">Cancelado</span>
                        </td>
                        <td>
                            <a class="btn btn-info buttonSize"
                               th:href="@{/request/info/{number}(number=${request.number})}">
                                Más detalles
                            </a>
                        </td>
                        <td>
                            <div th:if="${request.endDate != null || request.state == 'Rechazado'}">
                                <a class="btn btn-danger buttonSize disabled">
                                    Cancelar
                                </a>
                            </div>
                            <div th:unless="${request.endDate != null || request.state == 'Rechazado'}">
                                <a class="btn btn-danger buttonSize"
                                        th:href="@{/request/cancel/{number}(number=${request.number})}">
                                    Cancelar
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr th:unless="*{requests.size() > 0}">
                        <td> No tiene ningún servicio contratado</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Ocio con voluntarios</label>
            <div class="content-tab">
                <div class="buttonService">
                    <a class="btn" href="/volunteerAvailability/addElderly"> Voluntarios disponibles</a>
                </div>
                <br>
                <br>
                <h3>Ocio con voluntarios</h3>
                <br>
                <table class="middle" th:object="${session}"
                       th:classappend="*{volunteers.size() == 0} ? '' : 'table table-hover'">
                    <thead th:if="*{volunteers.size() > 0}">
                    <tr>
                        <th>Ocio</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="volunteer: *{volunteers}">
                        <td th:text="${#strings.capitalize(volunteer.hobby)}"></td>
                        <td>
                            <span th:classappend="${volunteer.monday == true ? 'dayActive'  : 'dayInactive'}">L</span>
                            <span th:classappend="${volunteer.tuesday == true ? 'dayActive'  : 'dayInactive'}">M</span>
                            <span th:classappend="${volunteer.wednesday == true ? 'dayActive'  : 'dayInactive'}">X</span>
                            <span th:classappend="${volunteer.thursday == true ? 'dayActive'  : 'dayInactive'}">J</span>
                            <span th:classappend="${volunteer.friday == true ? 'dayActive'  : 'dayInactive'}">V</span>
                            <span th:classappend="${volunteer.saturday == true ? 'dayActive'  : 'dayInactive'}">S</span>
                            <span th:classappend="${volunteer.sunday == true ? 'dayActive'  : 'dayInactive'}">D</span>
                        </td>
                        <td>
                            De <span class="dayActive" th:text="${volunteer.startTime}"></span> a
                            <span class="dayActive" th:text="${volunteer.endTime}"></span>
                        </td>
                        <td>
                            <a class="btn btn-info buttonSize"
                               th:href="@{/volunteerAvailability/infoVolunteer/{idVolunteer}/{dni}(idVolunteer=${volunteer.idVolunteer}, dni=${volunteer.dniEderly})}">
                                Más detalles
                            </a>
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-danger buttonSize"
                                   th:href="@{/volunteerAvailability/cancel/{id}(id=${volunteer.id})}">
                                    Cancelar
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tr th:unless="*{volunteers.size() > 0}">
                        <td>No has solicitado a ningún voluntario</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>