<div class="row">
    <div class="col-xl-1 col-md-12 col-sm-12 col-xs-12">
        <br/>
        <img class="logo" th:src="@{img/logo.png}" alt="Logo">
    </div>
    <div class="col-xl-11 col-md-12 col-sm-12 col-xs-12">
        <br />
        <br />
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center padding0">
            <div th:object="${session}">
                <ul class="nav navbar-nav mr-auto" th:if="*{user == null}">
                    <li class="navbar-li"><a class="navbar-op" href="/" th:href="@{/}">Inicio</a></li>
                    <li class="navbar-li"><a class="navbar-op" href="info/servicios">Servicios</a></li>
                    <li class="navbar-li"><a class="navbar-op" href="register" th:href="@{/user/list}">Registro</a></li>
                    <li class="navbar-li"><a class="navbar-op" href="/login">Iniciar sesión</a></li>
                </ul>
                <ul class="nav navbar-nav mr-auto" th:unless="*{user == null}">
                    <li class="nav-item">
                        Autenticado como <span th:text="*{user.username}"></span>
                        <a href="/logout" th:href="@{/logout}">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
