<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="volunteer-css">
        <link rel="stylesheet" th:href="@{/css/volunteer.css}" href="/css/volunteer.css">

    </div>
    <meta charset="UTF-8">
    <title>Voluntarios</title>

</head>

<body>
    <div th:fragment="volunteer">
        <h2>Opciones</h2>
        <table class="tablaIndex">
            <tr>
                <td>
                    <br>
                    <h5>
                        <a class="btn buttonOptions" href="/volunteerAvailability/add">Añadir disponibilidad</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <h5>
                        <a class="btn buttonOptions" href="/volunteerAvailability/list">Disponibilidad de voluntarios</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <h5>
                        <a class="btn buttonOptions" th:href="@{/volunteer/update/{id}(id=${session.id})}">Modificar perfil</a>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>