<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="volunteer-css">
        <link rel="stylesheet" th:href="@{/css/volunteer.css}" href="/css/volunteer.css">
    </div>
    <meta charset="UTF-8">
    <title>Voluntarios</title>

</head>

<body>
    <div th:fragment="volunteer" th:object="${session}">
        <br>
        <div class="buttonAddAva">
            <a class="btn" href="/volunteerAvailability/add">Añadir disponibilidad</a>
        </div>

        <br>
        <h2>Listado de ocio</h2>
        <br>
        <table class="tablaIndex table table-hover">
            <thead>
            <tr>
                <th>Ocio</th>
                <th>Dias</th>
                <th>Hora</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="lAva: *{listAvais}">
                    <td th:text="${#strings.capitalize(lAva.hobby)}"></td>
                    <td>
                        <span th:classappend="${lAva.monday == true ? 'dayActive'  : 'dayInactive'}">L</span>
                        <span th:classappend="${lAva.tuesday == true ? 'dayActive'  : 'dayInactive'}">M</span>
                        <span th:classappend="${lAva.wednesday == true ? 'dayActive'  : 'dayInactive'}">X</span>
                        <span th:classappend="${lAva.thursday == true ? 'dayActive'  : 'dayInactive'}">J</span>
                        <span th:classappend="${lAva.friday == true ? 'dayActive'  : 'dayInactive'}">V</span>
                        <span th:classappend="${lAva.saturday == true ? 'dayActive'  : 'dayInactive'}">S</span>
                        <span th:classappend="${lAva.sunday == true ? 'dayActive'  : 'dayInactive'}">D</span>
                    </td>
                    <td>
                        De <span class="dayActive" th:text="${lAva.startTime}"></span> a
                        <span class="dayActive" th:text="${lAva.endTime}"></span>
                    </td>
                    <td>
                        <a class="btn btn-info buttonSize"
                           th:href="@{/volunteerAvailability/infoVolunteer/{id}/(id=${lAva.id})}">
                            Más detalles
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger buttonSize"
                           th:href="@{/volunteerAvailability/cancel/{id}(id=${lAva.id})}">
                            Cancelar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>