<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:object="${session}">
<head>
    <meta charset="UTF-8"/>
    <title>Crear nuevo voluntario</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <h2>Nuevo voluntario</h2>
        <div class="alignRight">
            *Campos obligatorios
        </div>
        <form class="form-horizontal" action="#" th:action="@{/volunteer/add}" th:object="${volunteer}" method="post">
            <table class="tableAddVolunteer">
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="name">Nombre*: </label>
                            <input type="text" class="form-control" id="name" th:field="*{name}"
                                   th:errorClass="needcorrection"/>

                            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="surname">Apellidos*: </label>
                            <input type="text" class="form-control" id="surname" th:field="*{surname}"
                                   th:errorClass="needcorrection"/>

                            <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="birthdate">Fecha de nacimiento*: </label>
                            <input type="date" class="form-control" id="birthdate" th:field="*{birthdate}"
                                   th:errorClass="needcorrection"/>
                            <div class="error" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="phonenumber">Número de teléfono*: </label>
                            <input type="number" class="form-control" id="phonenumber" th:field="*{phonenumber}"
                                   th:errorClass="needcorrection"/>
                            <div class="error" th:if="${#fields.hasErrors('phonenumber')}"
                                 th:errors="*{phonenumber}"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="address">Dirección*: </label>
                            <input type="text" class="form-control" id="address" th:field="*{address}"
                                   th:errorClass="needcorrection"/>
                            <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="username">Nombre de usuario*: </label>
                            <input type="text" class="form-control" id="username" th:field="*{username}"
                                   th:errorClass="needcorrection"/>
                            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="password">Contraseña*: </label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   th:errorClass="needcorrection"/>
                            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="buttonSubmit">
                        <br>
                        <div class="buttonAdd alignRight">
                            <button class="btn" type="submit">Registrarse</button>
                        </div>
                    </td>
                    <td class="buttonCancel">
                        <br>
                        <div class="buttonDelete alignLeft">
                            <button class="btn" type="reset">Borrar</button>
                        </div>
                    </td>
                </tr>

            </table>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
