<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:object="${session}">
<head>
    <meta charset="UTF-8"/>
    <title>Majors a Casa</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
    <div th:if="*{role == 'Admin'}" th:replace="fragments/admin :: admin-css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <br>
        <h2>Lista Voluntarios</h2>
        <br>

        <div class="tabs">
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">
                    <svg class="icon-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"/>
                    </svg>
                    Pendientes
                </label>

                <div class="content-tab">
                    <table th:classappend="${volunteersP.size() == 0} ? '' : 'table table-hover'">
                        <thead th:if="${volunteersP.size() > 0}">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="voluntariP: ${volunteersP}">
                            <td th:text="${voluntariP.name}"></td>
                            <td th:text="${voluntariP.surname}"></td>
                            <td th:classappend="${(voluntariP.state == 'Pendiente' ? 'stateBlue'  : '') +
                            (voluntariP.state == 'Aceptado' ? 'stateGreen'  : '') +
                            (voluntariP.state == 'Rechazado' ? 'stateRed'  : '')}" th:text="${voluntariP.state}"></td>
                            <td> <!-- Si no hay fecha de aceptación se puede aceptar al voluntario -->
                                <a class="btn btn-success" th:href="@{/volunteer/updateAceptar/{id}/{acceptDate} (id=${voluntariP.id}, acceptDate=${voluntariP.today()})}">Aceptar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{/volunteer/updateFechaFin/{id}/{endDate} (id=${voluntariP.id}, endDate=${voluntariP.today()})}">Rechazar</a>
                            </td>
                        </tr>
                        </tbody>
                        <tr th:unless="${volunteersP.size() > 0}">
                            <td> No hay ninguna petición pendiente</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">
                    <svg class="icon-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"/>
                    </svg>
                    Aceptados
                </label>

                <div class="content-tab">
                    <table th:classappend="${volunteers.size() == 0} ? '' : 'table table-hover'">
                        <thead th:if="${volunteers.size() > 0}">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de fin</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="voluntari: ${volunteers}">
                            <td th:text="${voluntari.name + ' ' + voluntari.surname}"></td>
                            <td th:text="${#temporals.format(voluntari.acceptDate, 'dd-MM-yyyy')}"></td>
                            <td th:text="${#temporals.format(voluntari.endDate, 'dd-MM-yyyy')}"></td>
                            <td th:classappend="${(voluntari.state == 'Pendiente' ? 'stateBlue'  : '') +
                            (voluntari.state == 'Aceptado' ? 'stateGreen'  : '') +
                            (voluntari.state == 'Rechazado' ? 'stateRed'  : '')}" th:text="${voluntari.state}"></td>
                            <td>
                                <a class="btn btn-danger" th:if="${voluntari.endDate == null}"
                                   th:href="@{/volunteer/updateFechaFin/{id} (id=${voluntari.id})}">Cancelar</a>
                                <a class="btn btn-success" th:if="${voluntari.endDate != null}"
                                   th:href="@{/volunteer/updateAceptar/{id}/{acceptDate} (id=${voluntari.id}, acceptDate=${voluntari.today()})}">Reactivar</a>
                            </td>
                        </tr>
                        </tbody>
                        <tr th:unless="${volunteers.size() > 0}">
                            <td> No hay ninguna petición aceptada</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label for="tab-3">
                    <svg class="icon-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                              clip-rule="evenodd"/>
                    </svg>
                    Rechazados
                </label>

                <div class="content-tab">
                    <table th:classappend="${volunteersR.size() == 0} ? '' : 'table table-hover'">
                        <thead th:if="${volunteersR.size() > 0}">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de fin</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="voluntariR: ${volunteersR}">
                            <td th:text="${voluntariR.name + ' '+ voluntariR.surname}"></td>
                            <td th:text="${#temporals.format(voluntariR.acceptDate, 'dd-MM-yyyy')}"></td>
                            <td th:text="${#temporals.format(voluntariR.endDate, 'dd-MM-yyyy')}"></td>
                            <td th:classappend="${(voluntariR.state == 'Pendiente' ? 'stateBlue'  : '') +
                            (voluntariR.state == 'Aceptado' ? 'stateGreen'  : '') +
                            (voluntariR.state == 'Rechazado' ? 'stateRed'  : '')}" th:text="${voluntariR.state}"></td>
                        </tr>
                        </tbody>
                        <tr th:unless="${volunteersR.size() > 0}">
                            <td> No hay ninguna petición rechazada</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>