<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Voluntarios Rechazados</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">

        <div class="return alignRight">
            <a href="/volunteer/list">
                <svg class="bi bi-chevron-double-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                </svg>
                Volver a la lista de voluntarios</a>
        </div>

        <br>
        <h2>Lista Voluntarios Rechazados</h2>
        <br>
        <div class="container">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Estado</th>


                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="voluntari: ${volunteersR}">

                    <td th:text="${voluntari.id}"></td>
                    <td th:text="${voluntari.name}"></td>
                    <td th:text="${voluntari.surname}"></td>
                    <td th:text="${voluntari.acceptDate}"></td>
                    <td th:text="${voluntari.endDate}"></td>
                    <td th:text="${voluntari.state}"></td>



                    <td>
                        <a class="buttonDelete" th:href="@{/volunteer/delete/{id}(id=${voluntari.id})}" role="buttonDelete" >Borrar</a>
                    <td>
                        <a class="buttonSubmit" th:href="@{/volunteer/update/{id}(id=${voluntari.id})}" role="buttonSubmit">Actualizar</a>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>