.navbar-op{
    font-size: 20px;
    margin: 0 !important;
}

.navbar-op span{
    color: #00909e;
}

.floatR{
    float: right;
}

.floatL{
    float: left;
}

.icon{
    color: #fff;
    margin-right: 40px;
    font-size: 28px;
}

/* List contract */
.addContract{
    text-decoration: none !important;
    color: #1b2a49;
    font-weight: bold;
    border: 2px solid;
    padding: 0 5px 5px 5px;
}

.addContract a:link{
    color: #00909e;
    text-decoration: none !important;
}
.addContract a:focus{
    color: #00909e;
    text-decoration: none !important;
}

.addContract span{
    vertical-align: text-top;
}

.addContract svg{
    vertical-align: text-bottom;
}

/* Add contract */
.tableAddContract{
    width: 30%;
    margin: 0 auto;
}

.tableAddContract td div{
    margin: 0 auto;
}

.return a{
    color: #465881;
    text-decoration: none;
}
.return a:hover{
    color: #00909e;
    text-decoration: none;
}