.navbar-op{
    font-size: 20px;
    margin: 0 !important;
}

.navbar-op span{
    color: #00909e;
}

.icon{
    color: #fff;
    margin-right: 40px;
    font-size: 28px;
}

.icon:hover{
    color: #00909e;
}

/* Index ========================= */
.buttonOptions{
    color: white;
    font-size: 22px;
    display: contents;
}
.tablaIndex{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
.tablaIndex h5{
    transition-duration: 1.0s;
    font-size: 24px;
    background-color: #465881;
    padding: 4px;
    border: solid;
}
.tablaIndex h5:hover{
    background-color: #00909e;
}
.tablaIndex a{
    transition-duration: 0.1s;
}
.tablaIndex a:hover{
    background-color: #00909e;
    color: white;
}
/* End Index ===================== */

/* List contract ================= */
.addContract{
    text-decoration: none !important;
    color: #1b2a49;
    font-weight: bold;
    border: 2px solid;
    padding: 0 5px 5px 5px;
}

.addContract a:link{
    color: #00909e;
    text-decoration: none !important;
}
.addContract a:focus{
    color: #00909e;
    text-decoration: none !important;
}

.addContract span{
    vertical-align: text-top;
}

.addContract svg{
    vertical-align: text-bottom;
}
/* End List contract ============= */

/* Add contract ================== */
.return a{
    color: #465881;
    text-decoration: none;
}

.return a:hover{
    color: #00909e;
    text-decoration: none;
}

.tableAddContract{
    width: 72%;
    margin: 0 auto;
}

.tableAddContract tr td{
    min-width: 369px;
    min-height: 92px;
}

.tableAddContract td div{
    margin: 0 auto;
}

.tableAddContract td.buttonSubmit{
    padding-top: 20px;
}

.tableAddContract td.buttonCancel{
    padding-top: 20px;
}

.tableAddContract label{
    padding-top: 20px;
}

.tableAddContract div.form-check-inline{
    margin-right: .75rem;
}

.tableAddContract label.form-check-label{
    padding-top: 6px;
}

.buttonAdd{
    padding-right: 15px;
}

.buttonDelete{
    padding-left: 15px;
}
/* End Add contract ============== */
/* List volunteer ================== */
.tabs {
    position: relative;
    height: 600px;
    clear: both;
    width: 75%;
    margin: 0 auto;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-size: 25px;
}

.tab label:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00909e;
}

.tab [type=radio] {
    display: none;
}

.content-tab {
    position: absolute;
    top: 58px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.content-tab table {
    font-size: 20px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #00909e;
}

[type=radio]:checked ~ label ~ .content-tab {
    z-index: 1;
}

.icon-info {
    width: 25px;
    margin-bottom: 3px;
}
/* End List volunteer ============== */
/* List volunteer ================== */
.tabs {
    position: relative;
    height: 600px;
    clear: both;
    width: 75%;
    margin: 0 auto;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-size: 25px;
}

.tab label:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00909e;
}

.tab [type=radio] {
    display: none;
}

.content-tab {
    position: absolute;
    top: 58px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.content-tab table {
    font-size: 20px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #00909e;
}

[type=radio]:checked ~ label ~ .content-tab {
    z-index: 1;
}

.icon-info {
    width: 25px;
    margin-bottom: 3px;
}
/* End List volunteer ============== */

