.btn{
    color: white;
    font-size: 22px;
    display: contents;
}
.tablaIndex{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
.tablaIndex h5{
    transition-duration: 1.0s;
    font-size: 24px;
    background-color: #465881;
    padding: 4px;
    border: solid;
}
.tablaIndex h5:hover{
    background-color: #00909e;
}
.tablaIndex a{
    transition-duration: 0.1s;
}
.tablaIndex a:hover{
    background-color: #00909e;
    color: #1b2a49;
}