/* Estil aplicat al cos de la página */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

/* Capçalera de nivell 1 */
h1 {
    color: orange;
}

/* Capçalera de nivell 2 */
h2 {
    color: blue;
}

/* Classe CSS error */
.error {
    color: red;
    font-size: 80%;
}

/* Classe CSS per atributs erronis */
.needcorrection {
    color: red;
    background-color: yellow;
}