.icon{
    color: #fff;
    font-size: 28px;
    margin: 10px 40px 0 15px;
}

.icon:hover{
    color: #00909e;
}

.navbar-op{
    margin-bottom: 0;
}

.navbar-op span{
    color: #00909e;
}

.navbar-right{
    margin-right: 15px;
}

.ajustes{
    margin-right: 50px;
}

.ajustes a svg{
    width: 28px;
    margin-bottom: 4px;
}

.marginBottom{
    margin-bottom: 5px;
}

.divHeight{
    height: 50px;
}

.stateRed{
    color: #CC0000;
}

.stateBlue{
    color: #3366FF;
}

.stateGreen{
    color: #207f00;
}

/* Index ========================= */

 .tabs {
     position: relative;
     height: 500px;
     clear: both;
     width: 75%;
     margin: 0 auto;
 }
.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-size: 25px;
}

.tab label:hover{
    cursor: pointer;
    color: #fff;
    background-color: #0056b3;
}

.tab [type=radio] {
    display: none;
}
.content-tab {
    position: absolute;
    top: 58px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.content-tab table {
    font-size: 20px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #00909e;
}
[type=radio]:checked ~ label ~ .content-tab {
    z-index: 1;
}

.buttonService {
    padding-top: 10px;
    text-align: center;
}
.buttonService a{
    background-color: #465881;
    border-color: #465881;
    color: #fff;
    font-size: 20px;
}
.buttonService a:hover {
    background-color: #00909e;
    border-color: #00909e;
    color: #fff;
}

.dayActive {
    color: #00909e;
    font-weight: bold;
}

.dayInactive {
    color: #c9c8c8;
}

.buttonSize{
    font-size: 20px;
}

/* End Index ===================== */

/* Info ========================== */
.info{
    width: 58%;
    margin: 0 auto;
}

.info td{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.desc{
    margin: 0;
}

.info textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-style: italic;
}

.info a{
    font-size: 25px;
}

.return{
    font-size: 25px;
}

.icon-info{
    width: 25px;
    margin-bottom: 3px;
}

.bold{
    font-weight: 600;
}
/* End Info ====================== */

/* Contract service ============== */
.tableContractService{
    width: 30%;
    margin: 0 auto;
}

.tableContractService textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-style: italic;
}

.tableContractService td{
    font-size: 25px;
}

.custom-select{
    padding: 0 0 0 15px !important;
}

.tableContractService button{
    font-size: 25px;
}

/* End Contract service ========== */


