.tablaLogin{
    width: 100vh;
    margin: 0 auto;
}

.tablaLogin tr{
    text-align: center;
}
.alignLeft{
    text-align: left;
    width: 24%;
    margin: 0 auto;
}
.tablaLogin label{
    font-size: 19px;
    margin-bottom: 0;
    padding-top: 10px;
}