.tdAcceso {
    padding-top: 10px;
    text-align: center;
}
.tablaLogin{
    width: 100vh;
    margin: 0 auto;
}

.tablaLogin tr{
    text-align: center;
}
.alignLeft{
    text-align: left;
    width: 24%;
    margin: 0 auto;
}
.tablaLogin label{
    font-size: 19px;
    margin-bottom: 0;
    padding-top: 10px;
}
.tdAcceso button{
    background-color: #465881;
    border-color: #465881;
    color: #fff;
}
.tdAcceso button:hover {
    background-color: #00909e;
    border-color: #00909e;
    color: #fff;
}