body{
    background: #c9d1d3;
}

footer{
    text-align: center;
}

h2{
    text-align: center;
    color: #1b2a49;
}

.contenido{
    min-height: calc(100vh - 112.93px - 121px);
}

.container{
    background: #ffffff;
}


.loggeduser {
    color: gray;
    text-align: right;
    margin-right: 10pt;
}

.logo{
    width: 65px;
}

.navbar-li{
    padding: 0 60px;
}
.navbar-op{
    color: #ffffff;
    font-size: 32px;
    text-decoration: none !important;
}

.padding0{
    padding: 0;
}

.nav-select{
    color: #00909e !important;
}

.separator{
    border-right: 2px #ffffff solid;
}
.error{
    color: red;
}
/* Float */
.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}
/* End Float ===================== */

/* Alineaciones */
.alignRight{
    text-align: right;
}
.alignLeft{
    text-align: left;
}
/* End Alineaciones ============== */

/* DISEÑO PARA BOTONES */
.buttonSubmit {
    padding-top: 10px;
    text-align: center;
}
.buttonSubmit button{
    background-color: #465881;
    border-color: #465881;
    color: #fff;
}
.buttonSubmit button:hover {
    background-color: #00909e;
    border-color: #00909e;
    color: #fff;
}
/* End DISEÑO PARA BOTONES ======= */