body{
    background: #c9d1d3;
}

footer{
    text-align: center;
}

h2{
    text-align: center;
    color: #1b2a49;
}

.contenido{
    min-height: calc(100vh - 113px - 121px);
}

.container{
    background: #ffffff;
}


.loggeduser {
    color: gray;
    text-align: right;
    margin-right: 10pt;
}

.logo{
    width: 65px;
    height: 89px;
}

.navbar-li{
    padding: 0 60px;
}
.navbar-op{
    color: #ffffff;
    font-size: 32px;
    text-decoration: none !important;
}

.padding0{
    padding: 0;
}

.nav-select{
    color: #00909e !important;
}

.separator{
    border-right: 2px #ffffff solid;
}

/* Index ========================= */
.carousel-indicators .active {
    background-color: #465881;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control.left span {
    padding: 15px;
}

.carousel-control.right span {
    padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 0;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    color: #fff;
    padding: 10px;
}
/* End Index ===================== */

/* Services ====================== */
.ac-container {
    max-width: 680px;
}

.ac-container label {
    text-align: center;
    height: 55px !important;
    line-height: 34px !important;
    font-size: 30px !important;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #465881;
    border: 3px black solid;
}

.icon-services {
    width: 35px;
    height: 34px;
    line-height: 45px;
    color: #fff;
}

.ac-container {
    width: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
}

.ac-container label:hover {
    background: #00909e;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
    background: #0cc5c6;
    color: #fff;
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    text-align: justify;
    font-style: normal;
    color: #777;
    line-height: 23px;
    font-size: 18px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}

.ac-container td {
    width: 370px !important;
    height: 252px !important;
    position: relative;
    padding: 20px;
}

.ac-container td div {
    top: 0;
    position: absolute;
}
/* End Services ================== */

/* Register ====================== */
.tableRegister{
    width: 100vh;
    margin: 0 auto;
    height: 150px;
}

.tableRegister tr{
    text-align: center;
}

.buttonSubmit {
    padding-top: 10px;
    text-align: center;
}
.buttonSubmit a{
    background-color: #465881;
    border-color: #465881;
    color: #fff;
}
.buttonSubmit a:hover {
    background-color: #00909e;
    border-color: #00909e;
    color: #fff;
}
.botonRegistro{
    width: 166px;
    height: 54px;
    line-height: 38px;
    font-size: 21px;
}
/* End Register ================== */

/* Add Elderly =================== */
.font20{
    font-size: 20px;
}
.tableAddElderly{
    width: 72%;
    margin: 0 auto;
}

.tableAddElderly tr td{
    min-width: 369px;
    min-height: 92px;
}

.tableAddElderly td div{
    margin: 0 auto;
}

.tableAddElderly td.buttonSubmit{
    padding-top: 20px;
}

.tableAddElderly td.buttonCancel{
    padding-top: 20px;
}

.tableAddElderly label{
    padding-top: 20px;
}

.tableAddElderly div.form-check-inline{
    margin-right: .75rem;
}

.tableAddElderly label.form-check-label{
    padding-top: 6px;
}

.buttonAdd{
    padding-right: 15px;
}

.buttonDelete{
    padding-left: 15px;
}
/* End Add Elderly =============== */

/* Add Volunteer ================= */
.tableAddVolunteer{
    width: 72%;
    margin: 0 auto;
}

.tableAddVolunteer tr td{
    min-width: 369px;
    min-height: 92px;
}

.tableAddVolunteer td div{
    margin: 0 auto;
}

.tableAddVolunteer td.buttonSubmit{
    padding-top: 20px;
}

.tableAddVolunteer td.buttonCancel{
    padding-top: 20px;
}

.tableAddVolunteer label{
    padding-top: 20px;
}

.tableAddVolunteer div.form-check-inline{
    margin-right: .75rem;
}

.tableAddVolunteer label.form-check-label{
    padding-top: 6px;
}

.buttonAdd{
    padding-right: 15px;
}

.buttonDelete{
    padding-left: 15px;
}
/* End Add Volunteer ============= */

/* Login ========================= */
.formLogin{
    margin: 0 auto;
    width: 180px;
}

.formLogin label{
    font-size: 19px;
    margin-bottom: 0;
    padding-top: 28px;
}

/* End Login ===================== */

/* Errores ======================= */
.error {
    position: absolute;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.81);
    border-radius: .25rem;
}

.needcorrection {
    border: 1px solid #dc3545;
}
/* End Errores =================== */

/* Float ========================= */
.floatRight{
    float: right;
}
.marginCenter{
    margin: 0 auto;
}
/* End Float ===================== */

/* Alineaciones ================== */
.alignRight{
    text-align: right;
}

.alignLeft{
    text-align: left;
}
.center{
    text-align: center;
}
/* End Alineaciones ============== */

/* Diseño para botones =========== */
.buttonSubmit {
    padding-top: 10px;
    text-align: center;
}
.buttonSubmit button{
    background-color: #465881;
    border-color: #465881;
    color: #fff;
}
.buttonSubmit button:hover {
    background-color: #00909e;
    border-color: #00909e;
    color: #fff;
}
.buttonCancel {
    padding-top: 10px;
    text-align: center;
}

.buttonCancel button{
    background-color: transparent;
    border-color: #465881;
    color: #465881;
}

.buttonCancel button:hover {
    background-color: transparent;
    border-color: #00909e;
    color: #00909e;
}

/* End Diseño para botones ======= */

/* Diseño para enlaces =========== */
.return a{
    color: #465881;
    text-decoration: none;
}

.return a:hover{
    color: #00909e;
    text-decoration: none;
}
/* End Diseño para enlaces ======= */

