.navbar-op{
    font-size: 20px;
    margin: 0 !important;
}

.navbar-op span{
    color: #00909e;
}

.navbar-right{
    margin-right: 15px;
}

.ajustes{
    margin-right: 50px;
}

.ajustes a svg{
    width: 28px;
    margin-bottom: 4px;
}

.icon{
    color: #fff;
    margin: 0 40px 0 15px;
    font-size: 28px;
}

.icon:hover{
    color: #00909e;
}

.divHeight {
    height: 50px;
}

/* Index ========================= */
.buttonOptions{
    color: white;
    font-size: 22px;
    display: contents;
}
.tablaIndex{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
.tablaIndex h5{
    transition-duration: 1.0s;
    font-size: 24px;
    background-color: #465881;
    padding: 4px;
    border: solid;
}
.tablaIndex h5:hover{
    background-color: #00909e;
}
.tablaIndex a{
    transition-duration: 0.1s;
}
.tablaIndex a:hover{
    background-color: #00909e;
    color: white;
}
/* End Index ===================== */

/* List Volunteer ================= */
.addVolunteer{
    text-decoration: none !important;
    color: #1b2a49;
    font-weight: bold;
    border: 2px solid;
    padding: 0 5px 5px 5px;
}

.addVolunteer a:link{
    color: #00909e;
    text-decoration: none !important;
}
.addVolunteer a:focus{
    color: #00909e;
    text-decoration: none !important;
}

.addVolunteer span{
    vertical-align: text-top;
}

.addVolunteer svg{
    vertical-align: text-bottom;
}
/* End List Volunteer ============= */

/* Add Volunteer availability ===== */
.return a{
    margin-right: 100px;
}

.tableAddAvailability{
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.tableAddAvailability td{
    padding-bottom: 10px;
}

.tableAddAvailability label{
    font-weight: bold;
    font-size: 16px;
}

.tableAddAvailability input[type="text"]{
    margin: 0 auto;
    width: 50%;
}

.checkboxDays span{
    margin-right: 10px;
}

.input-group {
    width: 70%;
    margin: 0 auto;
}

.input-group input[type="time"]{
    height: 32px !important;
    border-radius: .25rem !important;
}

.input-group span{
    margin: 0 10px;
}
/* End Add Volunteer availability = */


/*Tabs*/

.tabs {
    position: relative;
    height: 500px;
    clear: both;
    width: 75%;
    margin: 0 auto;
}
.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-size: 22px;
}

.tab label:hover{
    cursor: pointer;
    color: #fff;
    background-color: #00909e;
}

.tab [type=radio] {
    display: none;
}
.content-tab {
    position: absolute;
    top: 58px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.content-tab table {
    font-size: 20px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #00909e;
}
[type=radio]:checked ~ label ~ .content-tab {
    z-index: 1;
}


/* Desplegable */
.dropbtn {
    background-color: #343a40;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    min-width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #343a40;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #00909e;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #00909e;}