<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nueva factura</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/company.css">

</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <h2>Nueva factura</h2>
        <form class="form-horizontal" action="#" th:action="@{/invoice/add}"
              th:object="${invoice}" method="post">
            <table class="tableAddVolunteer">
                <tr>

                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Numero de factura:</label>
                            <input type="text" th:field="*{invoicenum}"/>
                        </div>

                    </td>

                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Fecha (dd/mm/yyyy):</label>
                            <input type="date" th:field="*{date}"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-1">
                            <label> </label>
                            <label> </label>


                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-1">
                            <label> </label>
                            <label> </label>
                        </div>
                    </td>

                </tr>
                <tr>
                    <br>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-1">

                            <p>Tipo de servicio: </p>
                            <input type="checkbox" id="tipo1" name="tipo1" value="Cleaning" th:field="*{cleaning}"/>
                            <label for="tipo1"> Servicio de Limpieza</label><br>
                            <input type="checkbox" id="tipo2" name="tipo2" value="Catering" th:field="*{catering}"/>
                            <label for="tipo2"> Servicio de Catering</label><br>
                            <input type="checkbox" id="tipo3" name="tipo3" value="Nursing" th:field="*{nursing}"/>
                            <label for="tipo3"> Servicio de Enfermería</label><br>
                        </div>
                    </td>

                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label>Precio de la factura:</label>
                            <input type="text" th:field="*{price}"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="buttonSubmit">
                        <br>
                        <div class="buttonAdd alignRight">
                            <button class="btn" type="submit">Añadir factura</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>