<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EI1027</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d’estil (Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Prova del controlador</h1>
<p><b>Nadador:</b> <!--/*@thymesVar id="nadador" type="String"*/-->
<!--/*@thymesVar id="nom" type=""*/-->
<span th:text="${nadador.nom}"> </span></p>
<p>
    <b>Num. federat:</b> <!--/*@thymesVar id="nadador" type="String"*/-->
    <!--/*@thymesVar id="numFederat" type="List<String>"*/-->
    <span th:text="${nadador.numFederat}"> </span>
</p>
<p>
    <b>Pais:</b> <!--/*@thymesVar id="nadador" type="String"*/-->
    <!--/*@thymesVar id="pais" type="List<String>"*/-->
    <span th:text="${nadador.pais}"> </span></p>
<p>
    <b>Edat:</b> <!--/*@thymesVar id="nadador" type="String"*/-->
    <!--/*@thymesVar id="edat" type="List<String>"*/-->
    <span th:text="${nadador.edat}"> </span>
</p>
<p><b> Categoria: </b> <!--/*@thymesVar id="categoria" type=""*/-->
<span th:text="${categoria}"></span></p>
<a href="/">Tornar</a>
</body>
</html>