<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
    <div th:replace="fragments/nav :: nav-css"/>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>
        <div class="contenido">
            <br>
            <h2>Registro</h2>
            <br>
            <table class="tableRegister">
                <tr>
                    <td class="buttonSubmit"><a class="btn btn-primary" th:href="@{elderly/add}">Persona mayor</a></td>
                    <td class="buttonSubmit"><a class="btn btn-primary" th:href="@{volunteer/add}">Voluntario</a></td>
                </tr>
            </table>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>