<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Añadir contrato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav"></div>
    <div class="contenido">
        <div class="return alingRight">
            <a href="/contract/list">
                <svg class="bi bi-chevron-double-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                </svg>
                Volver al listado de contratos</a>
        </div>
        <h2>Nuevo contrato</h2>
        <form class="form-horizontal" action="#" th:action="@{/contract/add}" th:object="${contract}" method="post">
            <table class="tableAddContract">
                <tr>
                    <td><label for="number">Número*:</label></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" id="number" th:field="*{numContract}"/></td>
                </tr>
                <tr>
                    <td><label class="control-label">Seleccione un servicio*: </label></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="catering" name="servicio" value="Catering"
                               th:field="*{auxService}"/>
                        <label for="catering">Catering</label><br>
                        <input type="radio" id="cleaning" name="servicio" value="Cleaning"
                               th:field="*{auxService}"/>
                        <label for="cleaning">Cleaning</label><br>
                        <input type="radio" id="nursing" name="servicio" value="Nursing" th:field="*{auxService}"/>
                        <label for="nursing">Nursing</label><br>
                    </td>
                </tr>
                <tr>
                    <td><label for="price">Precio*:</label></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" id="price" th:field="*{price}"/></td>
                </tr>
                <tr>
                    <td><label for="startDate">Fecha comienzo*:</label></td>
                </tr>
                <tr>
                    <td><input type="date" class="form-control" id="startDate" th:field="*{startDate}"/></td>
                </tr>
                <tr>
                    <td><label for="endDate">Fecha fin*:</label></td>
                </tr>
                <tr>
                    <td><input type="date" class="form-control" id="endDate" th:field="*{endDate}"/></td>
                </tr>
                <tr>
                    <td><label for="serviceNumber">Número de servicios*:</label></td>
                </tr>
                <tr>
                    <td><input type="number" class="form-control" id="serviceNumber" th:field="*{serviceNumber}"/></td>
                </tr>
                <tr>
                    <td><label for="cifCompany">CIF Empresa*:</label></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" id="cifCompany" th:field="*{cifCompany}"/></td>
                </tr>
                <tr>
                    <td>
                        <button class="btn" type="submit">Acceder</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="alingRight">
        *Campos obligatorios
    </div>
    <div th:replace="fragments/footer"></div>

</div>
</body>
</html>