<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Añadir contrato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav"></div>
    <div class="contenido">
        <div class="return alignRight">
            <a href="/contract/list">
                <svg class="bi bi-chevron-double-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                </svg>
                Volver al listado de contratos</a>
        </div>
        <h2>Nuevo contrato</h2>
        <form class="form-horizontal" action="#" th:action="@{/contract/add}" th:object="${contract}" method="post">
            <table class="tableAddContract">
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="cifCompany">CIF Empresa*: <a href="/company/add">Añadir nueva empresa</a></label>
                            <input type="text" class="form-control" id="cifCompany" th:field="*{cifCompany}"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label class="control-label">Seleccione un servicio*: </label>
                        </div>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="catering" name="servicio"
                                           value="Catering"
                                           th:field="*{auxService}"/>Comidas
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="cleaning" name="servicio"
                                           value="Cleaning"
                                           th:field="*{auxService}"/>Limpieza
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="nursing" name="servicio"
                                           value="Nursing"
                                           th:field="*{auxService}"/>Enfermería
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="price">Precio*:</label>
                            <input type="text" class="form-control" id="price" th:field="*{price}"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="serviceNumber">Número de servicios*:</label>
                            <input type="number" class="form-control" id="serviceNumber" th:field="*{serviceNumber}"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="startDate">Fecha comienzo*:</label>
                            <input type="date" class="form-control" id="startDate" th:field="*{startDate}"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">
                            <label for="endDate">Fecha fin*:</label>
                            <input type="date" class="form-control" id="endDate" th:field="*{endDate}"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="buttonSubmit">
                        <div class="buttonAdd alignRight">
                            <button class="btn" type="submit">Añadir</button>
                        </div>
                    </td>
                    <td class="buttonCancel">
                        <div class="buttonDelete alignLeft">
                            <button class="btn" type="reset">Borrar</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="alignRight">
        *Campos obligatorios
    </div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>