<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de contratos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Listado de contratos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Servicio</th>
                    <th>Precio</th>
                    <th >Fecha de comienzo</th>
                    <th>Fecha de finalización</th>
                    <th>Número de servicios</th>
                    <th>CIF Empresa</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contract: ${contracts}">
                    <td th:text="${contract.number}"></td>
                    <td>
                        <p th:if="${contract.catering == true}">Catering</p>
                        <p th:if="${contract.cleaning == true}">Limpieza</p>
                        <p th:if="${contract.nursing == true}">Enfermería</p>
                    </td>
                    <td th:text="${contract.price}"></td>
                    <td th:text="${contract.startDate}"></td>
                    <td th:text="${contract.endDate}"></td>
                    <td th:text="${contract.serviceNumber}"></td>
                    <td th:text="${contract.cifCompany}"></td>
                </tr>
            </tbody>
        </table>
        <a href = "/"> Atrás </a>
    </div>
</body>
</html>