<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nueva linea de factura</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="contenido">
        <h2>Nueva linea de factura</h2>
        <form class="form-horizontal" action="#" th:action="@{/invoiceLine/add}"
              th:object="${invoiceLine}" method="post">
            <table class="tableAddVolunteer">
                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Numero de solicitud: </label>
                            <input type="text" th:field="*{requestNum}"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Numero de linea de factura: </label>
                            <input type="number" th:field="*{number}"/>
                        </div>
                    </td>
                    <td>

                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Numero de factura: </label>
                            <input type="text" th:field="*{invoiceNumId}"/>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Precio de la factura: </label>
                            <input type="number" th:field="*{monthPrice}">
                        </div>
                    </td>

                    <td>
                        <div class="col-lg-10 col-xl-10 col-md-10 col-xs-2">

                            <label>Concepto de la peticion:            </label>
                            <input type="textarea" rows="5" cols="10" th:field="*{concept}"/>
                        </div>

                    </td>
                </tr>



                <tr>
                    <td class="buttonSubmit">
                        <br>
                        <div class="buttonAdd alignRight">
                            <button class="btn" type="submit">Añadir linea de factura</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>