<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Lineas de Factura</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Lista Lineas de Factura</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numero de linea de factura</th>
            <th>Concepto</th>
            <th>Precio por mes</th>

            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoiceLine: ${invoiceLines}">
            <td th:text="${invoiceLine.number}"></td>
            <td th:text="${invoiceLine.concept}"></td>
            <td th:text="${invoiceLine.monthPrice}"></td>
            <td th:text="${invoiceLine.invoiceNumId}"></td>
            <td th:text="${invoiceLine.requestNum}"></td>

            <td><a th:href="@{/invoiceLine/delete/{name}(name=${invoiceLine.number})}">Borrar</a>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade linea de factura</a>
</div>
</body>
</html>