<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar lineas de factura</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Actualitza lineas de factura</h2>
    <form class="form-horizontal" action="#" th:action="@{/invoiceLine/update}"
          th:object="${invoiceLine}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="number">Numero de linea de factura:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="number" th:field="*{number}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="concept">Concepto:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="concept" th:field="*{concept}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="monthPrice">Precio por mes:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="monthPrice" th:field="*{monthPrice}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="invoiceNumId">Numero de factura:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="invoiceNumId" th:field="*{invoiceNumId}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="requestNum">Numero de solicitud:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="requestNum" th:field="*{requestNum}" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Actualiza linea de factura</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>